body{
  margin: 0;
}
.image{
  padding: 60px 0;
}
.container{
  overflow: hidden;
  margin: 0 auto;
  
  
}
.img_item{
  box-sizing: border-box;
  float: left; 
  padding: 0 2px;
}
.img_item img{
  width: 100%;
}